
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar> 
    </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <img src="./me.png">
      <ion-card-header>
        <ion-card-subtitle>Tom Leysen</ion-card-subtitle>
        <ion-card-title>My first app</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Welcome to my first ionic app. Its a simple app with a photo gallery and a list.
      </ion-card-content>
    </ion-card>
  </ion-content>
 

